<html>
<head>
	<script src="angular.min.js"></script>
	<script src="angular-route.min.js"></script>
	<script src="jquery.min.js"></script>
	<link rel="stylesheet" href="bootstrap.min.css" />
	<script src="bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/control">Control</a></li>
        <li><a href="/light">light</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="/contactUs">Contact us</a></li>
      </ul>
</nav>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" style="position:relative;">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active" >
            <img data-src="holder.js/1000x500/auto/#777:#555/text:First slide" alt="First slide [1000x280]" src="/pics/pics/slider1" data-holder-rendered="true" >            
          </div>
          <div class="item">
            <img data-src="holder.js/1000x500/auto/#666:#444/text:Second slide" alt="Second slide [1000x280]" src="/pics/pics/slider2" data-holder-rendered="true">
          </div>
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>

  <br/>
  <div class="jumbotron">
  <h2>
  	<strong>Your experience with light control over Ethernet Technology</strong>
  </h2>
  <p>
  	This source will help you to control your lights at home or other devices over ethernet.
  	Get this source for free and help me to build a better solution.
  	Have fun with this nodejs based application.
  </p>
</div>
	<a href="http://www.github.com/" target="_blank">github link</a>
  </div>
</body>
</html>