<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Single page web app using Angularjs</title>

	<script src="angular.min.js"></script>
	<script src="angular-route.min.js"></script>
	<script src="jquery.min.js"></script>
	<link rel="stylesheet" href="bootstrap.min.css" />
	<script src="bootstrap.min.js"></script>
</head>

<body>
	<div>
<div>
	<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
  	<ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
			<li><a href="/settings">Settings</a></li>
      <li><a href="/light">light</a></li>
      <li><a href="/aboutUs">About us</a></li>
      <li><a href="/contactUs">Contact us</a></li>
    </ul>
  </nav>  
</div>
<br/>

<div class="thumbnail bike_jpg span4">
  <img data-src="holder.js/200x200" class="img-thumbnail" alt="200x200" src="/pics/pics" data-holder-rendered="true" style="width: 218px; height: 160px;">

	<div itemscope="" itemtype="http://schema.org/Organization" class="csc-textpic-text" style="text-align:center;">
	  <p></p>
	  <p itemprop="name" class="bodytext">auroraUnicorn</p>
	  <p class="bodytext">Version: 
	    <span itemprop="Version">0.0.4</span>
	    <br>developer: zombinary
	</p>
	</div>
</div>
</body>
</html>

<style type="text/css">
	.thumbnail.logo_bike {
    	float: center; 
	}
//	.item.active{
//  	margin: 0px auto; // center
//  	text-align:center;
//  	}  

</style>


