<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Responsive Web Mobile - SlidePanel</title>

	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<!-- Included Bootstrap CSS Files -->
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="./js/bootstrap/css/bootstrap-responsive.min.css" />

	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css" />

	<!-- SlidePanel Css -->	
	<link rel="stylesheet" href="./js/jquery.slidepanel/css/stylesheet.css" />

</head>
<body>

	<!-- SlidePanel -->
	<div id="slidein-panel">
		<!-- SlidePanel Button Container -->
		<div id="slidein-panel-container">
			<a id="slidein-panel-btn" href="#"><i class="icon-list"></i></a>
		</div>
		<!-- /SlidePanel Button Container -->

		<!-- SlidePanel Content -->
		<ul>
			<li><a href="/"><i class="icon-globe"></i>&nbsp; home</a></li>
			<li><a href="/settings"><i class="icon-gear"></i>&nbsp; settings</a></li>
			<!--<li><a href="/light"><i class="icon-lightbulb"></i>&nbsp; light</a>-->
			<li><a href="/remote"><i class="icon-lightbulb"></i>&nbsp; remote</a></li>
			<li><a href="/presets"><i class="icon-star"></i>&nbsp; presets</a></li>
			<li><a href="/effects"><i class="icon-fire"></i>&nbsp; effects</a></li>
			<!--<li><a href="#"><i class="icon-off"></i>&nbsp; logout</a></li>-->
		</ul>
		<!-- /SlidePanel Content -->
	</div>
	<!-- /SlidePanel -->

	<!-- BOOTSTRAP CONTENT -->
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 style="text-align: right">sphere</h1>
				<p class="bodytext">version: 0.0.2 </p>
				<p class="bodytext">developer: zombinary </p>
        	</div>
		</div>
	</div>

	<script src="./js/jquery-1.10.0.min.js"></script>
	<script src="./js/bootstrap/js/bootstrap.min.js"></script>
	
	<!-- SlidePanel jQuery -->
	<script src="./js/jquery.slidepanel/js/jquery.slidepanel.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$.SlidePanel();
		});
	</script>
</body>
</html>