<html>
	<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
	<title>Responsive Web Mobile - SlidePanel</title>

	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">

  	<!-- Included Bootstrap CSS Files -->
	<!--<link rel="stylesheet" href="./js/bootstrap/css/bootstrap.min.css" />-->
	<!--<link rel="stylesheet" href="./js/bootstrap/css/bootstrap-responsive.min.css" />-->
	<link href="./bootstrap.min.css" rel="stylesheet">
		
		
	<!-- Includes FontAwesome -->
	<link rel="stylesheet" href="./css/font-awesome/css/font-awesome.min.css" />

	<!-- SlidePanel Css -->	
	<link rel="stylesheet" href="./js/jquery.slidepanel/css/stylesheet.css" />
	
	<!-- knockout bind variables-->
	<script type='text/javascript' src='knockout-3.4.0.js'></script>
	<script src="public/knockout/kbRemote.js" type="text/javascript" defer="defer"></script>
	
		<!-- SlidePanel -->
	<div class="slidein-panel" id="slidein-panel">
		<!-- SlidePanel Button Container -->
		<div id="slidein-panel-container">
			<a id="slidein-panel-btn" href="#"><i class="icon-list"></i></a>
		</div>
		<!-- /SlidePanel Button Container -->

		<!-- SlidePanel Content -->
		<ul>
			<li><a href="/"><i class="icon-globe"></i>&nbsp; home</a></li>
			<li><a href="/settings"><i class="icon-gear"></i>&nbsp; settings</a></li>
			<li><a href="/remote"><i class="icon-lightbulb"></i>&nbsp; remote</a></li>
			<li><a href="/presets"><i class="icon-star"></i>&nbsp; presets</a></li>
			<li><a href="/effects"><i class="icon-fire"></i>&nbsp; effects</a></li>
			<!--<li><a href="#"><i class="icon-off"></i>&nbsp; logout</a></li>-->
		</ul>		
		<!-- /SlidePanel Content -->
	</div>
	
		<script src="angular.min.js"></script>
		<script src="angular-route.min.js"></script>
		<script src="jquery.min.js"></script>

		<!-- slider -->
		<link href="dependencies/css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-slider.css" rel="stylesheet">
		<script type="text/javascript" src="dependencies/js/modernizr.js"></script>
		<script type="text/javascript" src="js/bootstrap-slider.js"></script>
		<!-- source -->
		<script src="remote.js"></script>
		<script src="slider-color.js"></script>
		
		<!-- do not use this with slider
			<script src="./js/jquery-1.10.0.min.js"></script>
			<script src="./js/bootstrap/js/bootstrap.min.js"></script>
		-->
		<!-- SlidePanel jQuery -->
		<script src="./js/jquery.slidepanel/js/jquery.slidepanel.js"></script>
	
	<head>
	<body>
	
		<!-- BOOTSTRAP CONTENT -->
		<div class="container"">
			<div class="row">
				<div class="span12">
					<h1 style="text-align: right">remote</h1>
	    		</div>
			</div>
			<p></p>
		</div>
	
			
		<div class="container"">
			<div class="form-row well">
				<label for="sel1">device:</label>
				<center>
					<select class="btn btn-default " type="button" id="device_selectBox"  aria-haspopup="true" aria-expanded="true" multiple>
					<span class="caret"></span>
						<!--<optgroup label="room 1">
							<option>device 1</option>
							<option>device 2</option>
							<option>device 3</option>
							</optgroup>
						<optgroup label="room 2">
							<option>test 1</option>
							<option>test 2</option>
							</optgroup>-->
					</select>
				</center>
			</div>
		</div>
		
		<div class="form-row well">
		<label for="sel1">color:</label>
			<center>
				<table>
					<tr>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#FF0000;" id="btn_color" onclick="btn_sendColor(0xff0000)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#FF3200;" id="btn_color" onclick="btn_sendColor(0xff3200)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#FF6400;" id="btn_color_06" onclick="btn_sendColor(0xff6400)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#FF6900;" id="btn_color_09" onclick="btn_sendColor(0xff6900)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#FFC800;" id="btn_color_12" onclick="btn_sendColor(0xffc800)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#FFFA00;" id="btn_color_15" onclick="btn_sendColor(0xfffa00)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#FFFFFF;" id="btn_color_18" onclick="btn_sendColor(0xffffff)"></button></th>
					</tr>
					<tr>	
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#00FF00;" id="btn_color_01" onclick="btn_sendColor(0x00ff00)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#00FF32;" id="btn_color_04" onclick="btn_sendColor(0x00ff32)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#00FF64;" id="btn_color_07" onclick="btn_sendColor(0x00ff64)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#00FF96;" id="btn_color_10" onclick="btn_sendColor(0x00ff69)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#00FFC8;" id="btn_color_13" onclick="btn_sendColor(0x00ffc8)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#00FFFA;" id="btn_color_16" onclick="btn_sendColor(0x00fffa)"></button></th>
					</tr>
					<tr>	
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#0000FF;" id="btn_color_02" onclick="btn_sendColor(0x0000ff)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#3200FF;" id="btn_color_05" onclick="btn_sendColor(0x3200ff)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#6400FF;" id="btn_color_08" onclick="btn_sendColor(0x6400ff)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#9600FF;" id="btn_color_11" onclick="btn_sendColor(0x6900ff)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#C800FF;" id="btn_color_14" onclick="btn_sendColor(0xc800ff)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#FA00FF;" id="btn_color_17" onclick="btn_sendColor(0xfa00ff)"></button></th>
						<th><button type="button" class="btn btn-lg btn-default" style="background-color:#000000;" id="btn_color_19" onclick="btn_sendColor(0x000000)"></button></th>
					</tr>
				</table>
			</center>
		</div>
	</div>
			
	<div class="container">
		<div class="form-row well">
			<label for="sel1">hue:</label>
				<center>
		<!--	<div id="slider_hue"></div> -->
				<div id="slider_hue" type="text" data-slider-id="RGBC" data-slider-min="0" data-slider-max="308" data-slider-step="1" data-slider-value="0"></div>
				</center>
		</div>
	</div>	
	
	<div class="container">
		<div class="form-row well">
			<label for="sel1">brightness:</label>
			<center>
				<!-- <div id="slider_brightness"></div> -->
				<div id="slider_brightness" type="text" data-slider-id="RGBC" data-slider-min="1" data-slider-max="128" data-slider-step="1" data-slider-value="0"></div>
			</center>
		</div>
	</div>
	
	<div class="container">
		<div class="form-row well">
			<label for="sel1">range:</label>
			<center>
				<button type="button" id="rangeleftminus" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">-</button>
				<button type="button" id="rangeleftplus" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">+</button>
			</center>
			<center>
				<b>0</b> <input id="slider_range" type="text" class="span2" value="" data-slider-min="0" data-slider-max="300" data-slider-step="1" data-slider-value="[0,300]"/> 
				<b>300</b>
			</center>
			<center>
				<button type="button" id="rangerigthminus" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">-</button>
				<button type="button" id="rangerigthplus" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">+</button>	
			</center>
		</div>
	</div>	
	
<body>

</html>

<style type="text/css">

	.glyphicon.glzphicon-signal {
    	position: right; 
	}

#RGBC .slider-selection {
	background: #8283FF;
}
#RGBC .slider-handle {
	background-color: #000000;
}

#color-box {
	 position right;
	 border:1px solid #000;
    width: 100px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    //position: absolute;
    //float: right;

.centerDropdown {
	left: 50% !important;
  margin-left: -70px;
}

.slidein-panel {
   z-index: 1000;
}

h1 {
		margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 20px;
    color: inherit;
    text-rendering: optimizelegibility;
}    
    
</style>

<script type="text/javascript">	
  function btn_sendColor(color){
    setcolor(color,$('#device_selectBox').val());
    setcolor_req($('#device_selectBox').val());
  };

$(document).ready(function () { 

  $.SlidePanel();
  
  $('#rangeleftplus').click(function(){
	  	var range = ran.getValue();
	  		range[0] = range[0] + 1;
		if(range[0] >= 300){ range[0] = 300;}
    setrange_req(range,$('#device_selectBox').val());
		return;
  });
  $('#rangeleftminus').click(function(){
	  	var range = ran.getValue();
	  		range[0] = range[0] - 1;
	  	if(range[0] <= 0){ range[0] = 0;}	
	  		setrange_req(range,$('#device_selectBox').val());
		return;
  });
  $('#rangerigthplus').click(function(){
	  	var range = ran.getValue();
	  		range[1] = range[1] + 1;
		if(range[1] >= 300){ range[1] = 300;}
		setrange_req(range,$('#device_selectBox').val());
		return;
  });
  $('#rangerigthminus').click(function(){
    	var range = ran.getValue();
	  		range[1] = range[1] - 1;
	  	if(range[1] <= 0){ range[1] = 0;}	
	  		setrange_req(range,$('#device_selectBox').val());
		return;
  });
 
	var RGBChange = function() {
		var obj = {};
			obj.cmd = 0x15; //CMD_SETCOLOR
			obj.port = 0;
		
		setcolor(hue[rgb.getValue()], $('#device_selectBox').val());
		setcolor_req($('#device_selectBox').val(),obj);
		return hue[rgb.getValue()];
	};
	
	var RGBbrightness = function() {
		var brightness = brightn.getValue();
		setbrightness(brightness, $('#device_selectBox').val());
		setcolor_req($('#device_selectBox').val());
		
		return;
	};
	
	var RGBrange = function(){
		var range = ran.getValue();
		setrange_req(range,$('#device_selectBox').val());
		return;
	};

	var rgb = $('#slider_hue').slider()
		.on('slide', RGBChange)
		.data('slider');
		
	var brightn = $('#slider_brightness').slider()
		.on('slide', RGBbrightness)
		.data('slider');
		
	var ran = $('#slider_range').slider()
		.on('slide',RGBrange)
		.data('slider');			

		
});

	
</script>


